.home-page {
  display: flex;
  justify-content: center;
}

.display {
  display: flex;
  align-items: center;
}

.display img {
  border-radius: 24px;
}

.text-display {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  padding: 0 0 50px 50px;
}

h1 {
  font-size: 8rem;
  color: var(--dark-brown);
}

.text-display p {
  font-size: 1.8rem;
  color: black;
}
