/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

p {
  text-wrap: pretty;
}

header {
  display: flex;
  justify-content: center;
}
